
    <nav>
        <div class="logo">NodeBlogs</div>
        <div class="links">
          <div class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog/create">New Blog</a>
         </div>
      </nav>