<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/nav.ejs'); %>

    <div class="container cover-section">
      <h1>About NodeBlogs</h1>
      <div class="automargin-section">
        <p>
          A really simple blogging template made with MongoDB, EXpress and
          NodeJS.
        </p>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
